# РК1 Пономарева М.О. ИУ5-63Б Вариант №11

In [1]:
import sklearn
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
import math as mth
import matplotlib.patches as patches
from scipy import stats as st
plt.rcParams.update({'figure.max_open_warning': 0})
import plotly.graph_objects as go
import plotly.express as px
from sklearn.preprocessing import StandardScaler
pd.options.mode.chained_assignment = None

from pandas import plotting
from scipy import stats
plt.style.use("ggplot")
#import warnings
#warnings.filterwarnings("ignore")


# Input data files are available in the "../input/" directory.
# For example, running this (by clicking run or pressing Shift+Enter) will list the files in the input directory

import os

In [2]:
df = pd.read_csv(r"C:\Users\rocki\Documents\2 сем\ТМО\РК1\toy_dataset.csv")

In [3]:
df

        Number    City  Gender  Age    Income Illness
0            1  Dallas    Male   41   40367.0      No
1            2  Dallas    Male   54   45084.0      No
2            3  Dallas    Male   42   52483.0      No
3            4  Dallas    Male   40   40941.0      No
4            5  Dallas    Male   46   50289.0      No
...        ...     ...     ...  ...       ...     ...
149995  149996  Austin    Male   48   93669.0      No
149996  149997  Austin    Male   25   96748.0      No
149997  149998  Austin    Male   26  111885.0      No
149998  149999  Austin    Male   25  111878.0      No
149999  150000  Austin  Female   37   87251.0      No

[150000 rows x 6 columns]

Для того, чтобы ускорить работу программы сократим датасет, т.к. он слишком массивных:

In [4]:
df = df.sample(frac = 0.1)

Посмотрим количество пропусков в датасете

In [5]:
def draw_missing(df):
    total = df.isnull().sum().sort_values(ascending=False)
    percent = (df.isnull().sum()/df.isnull().count()).sort_values(ascending=False)*100
    missing_data = pd.concat([total, percent], axis=1, keys=['Total', 'Percent'])
    return missing_data

In [6]:
draw_missing(df).round(1)

         Total  Percent
Number       0      0.0
City         0      0.0
Gender       0      0.0
Age          0      0.0
Income       0      0.0
Illness      0      0.0

In [7]:
def Nan_creating(x):
    if x != 0:
        x = "Nan"
    return x

In [8]:
import random
from random import randint
i = 0
for i in range(15000):
    x = random.randint(0, 150000)
    df["Income"].loc[x] = df.loc[x].apply(Nan_creating)
    i+=1

KeyError: 116510

In [ ]:
df

In [ ]:
draw_missing(df).round(1)

In [ ]:
def Nan_creating2(x):
    x = "Nan"
    return x

In [ ]:
i = 0
for i in range(500):
    x = random.randint(0, 150000)
    df["Gender"].loc[x] = df.loc[x].apply(Nan_creating2)
    i+=1

In [ ]:
draw_missing(df).round(1)